@import "tailwindcss";

body {
  min-height: 100vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.leaflet-container {
  z-index: 10 !important;
}

/* Classe para o modal ficar sempre acima */
.modal-overlay {
  z-index: 50 !important;
}